#include <windows.h>
#include "resource.h"

TEST_DIALOG DIALOG 160, 72, 122, 56
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog Title"
FONT 8, "Helv"
BEGIN
    EDITTEXT        ID_EDT1,6,20,110,12,ES_AUTOHSCROLL
    PUSHBUTTON      "OK",IDOK,16,36,40,14
    PUSHBUTTON      "Cancel",IDCANCEL,64,36,40,14
    LTEXT           "Name:",102,6,6,50,12
END

IDD_PERSON DIALOGEX 6, 18, 180, 86
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog Title"
FONT 8, "Helv", 0, 0, 0x0
BEGIN
    EDITTEXT        ID_TXT_NAME,6,20,112,12,ES_AUTOHSCROLL
    LTEXT           "Name:",0,6,6,110,12
    EDITTEXT        IDC_TXT_EMAIL,7,53,115,14,ES_AUTOHSCROLL
    LTEXT           "Email:",0,7,42,19,8
END

